/* ________HEADER SECTION_____ */

.headerBar {
background-color: RGB(239,196,127);
  width: 100%;
  display: flex;
  height: 150px;
}
.headerLogo {
  display: flex;
  width: 60%;
}

.headerTitle {
  font-size: 3em;
  color: rgb(34, 3, 3);
  padding: 5% auto% 5% auto;
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: 'Berlin Sans'
}

.honeyTreeImageDiv {
width: 20%;
margin-top: 10px;
}

.honeyTreeImage {
  height: 100%;
  width: 100%

}

.headerLink {
  padding: 5%;
  text-align: center;

}

/*_________FOOTER SECTION_________  */
.footerBar {
  width: 100%;
  background-color: RGB(239,196,127);
  display: flex;
  flex-direction: row;
}
.footerTitle {
  margin: .5% auto .5% auto;
  font-size:.7em;

}
