/* ________HEADER SECTION_____ */

.headerBar {
  background-color: RGB(238, 235, 216);
  width: 100%;
  display: flex;
}
.headerLogo {
  display: flex;
  width: 60%;
}

.headerTitle {
  font-size: 3em;
  padding: 5% auto% 5% auto;
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: 'Berlin Sans'
}

.honeyTreeImageDiv {
  padding: 5%;
}

.honeyTreeImage {
  height: 5em;
  width: 5em;
}

.headerLink {
  padding: 5%;
  text-align: center;

}

/*_________FOOTER SECTION_________  */
.footerBar {
  width: 100%;
  background-color: RGB(238, 235, 216);
  display: flex;
  flex-direction: row;
}
.footerTitle {
  margin: .5% auto .5% auto;
  font-size:.7em;

}
