.buyScreenMainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mailingAddressContainer {
  display: flex;
  flex-direction: row;
  padding: 10%;
  text-align: center;

}
.inventoryContainerBuyScreen {
  width: 100%;
  display: flex;
  padding: 0 20% 0 20%
}

.checkoutSection {
  text-align: center;
  width: 100%
}
